<div id="home">
    <div id="login">
        <div class="container">
            <h1>Login</h1>

            <!-- main form here --->
            <form novalidate id="loginForm" name="loginForm" ng-submit="submit()">
                <div id="username">
                    <input type="text" id="usernameInput" name="usernameInput" ng-model="usernameInput" placeholder="username" required="">

                </div>
                <div id="password">
                    <input type="password" id="passwordInput" name="passwordInput" ng-model="passwordInput" placeholder="password" ng-disabled="!usernameInput" required="" ng-pattern="regex">
                </div>
                <!--error messages here-->
                <div class="errorMessages" ng-show="loginForm.usernameInput.$touched && loginForm.usernameInput.$error.required" id="usernameMissing">
                    <div ng-show="loginForm.usernameInput.$error.required">
                        <img alt="warning icon" src="../img/sign-warning-icon.png">
                        <p class="errorText">Please enter a username.</p>
                    </div>
                </div>
                <div class="errorMessages" ng-show="(loginForm.passwordInput.$touched && loginForm.passwordInput.$error.required) || (loginForm.passwordInput.$touched && loginForm.passwordInput.$error.pattern) ">
                    <div ng-show="loginForm.passwordInput.$error.required" id="passwordMissing">
                        <img alt="warning icon" src="../img/sign-warning-icon.png">
                        <p class="errorText">Please enter a password.</p>
                    </div>
                    <div ng-show="loginForm.passwordInput.$error.pattern" id="passwordInvalid">
                        <img alt="warning icon" src="../img/sign-warning-icon.png">
                        <p class="errorText">Password should be at least 8 characters, contain at least one number and at least one letter.</p>
                    </div>
                </div>
                <div class="errorMessages" ng-show="loginInvalid">
                    <img alt="warning icon" src="../img/sign-warning-icon.png">
                    <p class="errorText">Login error: username and/or password invalid. Please try again.</p>
                </div>

                <!-- button here -->
                <button type="submit" id="submitButton" name="submitButton" ng-disabled="!passwordInput">Log In</button>
            </form>

            <a id="forgotten" href="/forgotten">Forgotten your PV username or password?</a>
        </div>
    </div>
    <div id="welcome">
        <div class="container">
            <h1 id="title">Password Vault</h1>
            <h2>Only ever memorise one password!</h2>
            <p>Securely store all your passwords using an internationally recognised, hyper-secure encryption algorithm, AES.</p>
            <p>The encryption key is neither stored by the app nor sent over the internet. Only you know it, EVER, and it’s the ONLY thing you have to remember to securely store ALL your online passwords.</p>
            <button id="registerButton" ng-click="go('/register')">Register</button>
            <a id="registerLink" href="/register">New to Password Vault? Click this link or the register button above.</a>
        </div>
    </div>
</div>

