<div id="forgotten">
    <div class="container">
        <div id="ui" ng-show="ui">
            <h1 id="title">Recover my...</h1>

            <!-- toggle buttons -->
            <h2 id="username" ng-click="toggle('username')" ng-class="{selected: username}">Username</h2>
            <h2 id="password" ng-click="toggle('password')" ng-class="{selected: password}">Password</h2>


            <!--recover username/password form -->
            <form ng-show="email" name="emailForm" id="emailForm" novalidate ng-submit="submit()">

                <!-- email field -->
                <input type="email" ng-model="emailInput"  name="emailInput" id="emailInput" ng-model-options="{debounce: 500}" required email placeholder="Enter your email address">

                <!-- email error messages -->
                <div class="errorMessages" ng-show="emailForm.emailInput.$touched && emailForm.emailInput.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please input an email address.</p>
                </div>
                <div class="errorMessages" ng-show="emailForm.emailInput.$error.email">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">This email is not registered!</p>
                </div>
            </form>

            <!--help me button -->
            <button id="helpMe" type="button" ng-disabled="!emailInput || helpMeClicked" ng-click="helpMe()">Help Me!</button>
            <br>
        </div>

        <!-- username success and error responses -->

        <div class="displayMessage" id="emailSuccessMessage" ng-show="emailSuccessMessage">
            <h1>Don’t panic!</h1>
            <p>We’ve emailed your username to your registered email address. Check out your inbox…</p>
        </div>
        <div class="displayMessage" id="emailErrorMessage" ng-show="emailErrorMessage">
            <h1>Oh No!</h1>
            <p>There was a problem trying to send your username to you. Please try again later…</p>
        </div>

        <!-- password success and error messages -->
        <div class="displayMessage" id="passwordSuccessMessage" ng-show="passwordSuccessMessage">
            <h1>Yay!!</h1>
            <p>We've emailed a password recovery link to your registered email address. Check out your inbox.</p>
        </div>
        <div class="displayMessage" id="passwordErrorMessage" ng-show="passwordErrorMessage">
            <h1>Oh No!</h1>
            <p>Something went wrong updating your password. Please try again later.</p>
        </div>

        <!-- back button -->

        <button id="back" ng-click="go('/')">Back</button>

    </div>
</div>