<div id="registration">
    <div class="container">
        <!-- registration form here -->
        <div class="registrationForm" ng-show="registrationForm">
            <h1 id="title">Registration</h1>
            <form id="registrationForm" name="registrationForm" novalidate ng-submit="register()">

                <!-- username field -->
                <input type="text" id="usernameInput" ng-model="usernameInput" ng-model-options="{debounce: 500}" name="usernameInput" required user-reg="" placeholder="username">

                <!-- username error messages -->
                <div class="errorMessages" ng-show="registrationForm.usernameInput.$error.username">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Username already in use, please choose another.</p>
                </div>
                <div class="errorMessages" ng-show="registrationForm.usernameInput.$touched && registrationForm.usernameInput.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please input a username.</p>
                </div>

                <!-- email field -->
                <input type="email" id="emailInput" ng-model="emailInput" ng-model-options="{debounce:500}" name="emailInput" required ng-disabled="!usernameInput" email-reg="" placeholder="email">

                <!-- email error messages -->
                <div class="errorMessages" ng-show="registrationForm.emailInput.$error.email">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Email address already in use, please choose another.</p>
                </div>
                <div class="errorMessages" ng-show="registrationForm.emailInput.$touched && registrationForm.emailInput.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please input an email address.</p>
                </div>

                <!-- password field -->
                <input type="password" id="passwordInput" ng-model="passwordInput" ng-model-options="{debounce: 500}" name="passwordInput" required ng-pattern="regex" ng-disabled="!emailInput" placeholder="password">

                <!-- password error messages -->
                <div class="errorMessages" ng-show="registrationForm.passwordInput.$error.pattern">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Password should be at least 8 characters, contain at least one number and at least one letter.</p>
                </div>
                <div class="errorMessages" ng-show="registrationForm.passwordInput.$touched && registrationForm.passwordInput.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please input a password.</p>
                </div>

                <!-- show confirm password field when rest of form is complete -->
                <div id="confirmPassword" ng-show="passwordInput && (!registrationForm.passwordInput.$error.required && !registrationForm.passwordInput.$error.pattern)">

                    <!-- confirm password field -->
                    <input type="password" id="passwordConfirm" ng-model="passwordConfirm" ng-model-options="{debounce:500}" name="passwordConfirm" required ng-pattern="{{passwordInput}}" ng-disabled="!passwordInput" placeholder="confirm password">

                    <!-- confirm password error messages -->
                    <div class="errorMessages" ng-show="registrationForm.passwordConfirm.$error.pattern">
                        <img src="../img/sign-warning-icon.png" alt="warning icon">
                        <p class="errorText">Passwords do not match, please re-enter.</p>
                    </div>
                    <div class="errorMessages" ng-show="registrationForm.passwordConfirm.$touched && registrationForm.passwordConfirm.$error.required">
                        <img src="../img/sign-warning-icon.png" alt="warning icon">
                        <p class="errorText">Please confirm your password.</p>
                    </div>
                </div>

                <!-- register and cancel button -->
                <button type="submit" id="registerButton" name="registerButton" ng-disabled="!passwordConfirm">Register</button>
                <button type="button" id="cancelButton" name="cancelButton" ng-click="go('/')">Cancel</button>
            </form>
        </div>
        <!-- registration and error confirmation here -->
        <div id="registrationMessages" ng-show="registrationSuccess">
            <h1>Way to go...!!!</h1>
            <p>You have successfully registered for Password Vault.</p>
            <p class="message">Click the button to enter the vault.</p>
            <button type="button" ng-click="go('/manager')">Enter</button>
        </div>
        <div id="errorMessage" ng-show="registrationError">
            <h1>Oh no...!!!</h1>
            <p>Sorry! We’ve had a problem processing your registration. You’ll have to try again - gutted!!<p>
            <p class="message">Click the button to return to the homepage.</p>
            <button type="button" ng-click="go('/home')"></button>
        </div>
    </div>
</div>
