<div id="addSite">
    <div class="container">
        <div class="addSiteForm" ng-show="addSiteForm">
            <h1 id="title">Add Site</h1>
            <form id="addSiteForm" name="addSiteForm" novalidate ng-submit="addSite()" autocomplete="off">
                <!-- sitename field -->
                <input type="text" id="sitenameInput" ng-model="sitenameInput" name="sitenameInput" required placeholder="Enter site name" autocomplete="off">

                <!-- username field -->
                <input type="text" id="usernameInput" ng-model="usernameInput" name="usernameInput" required placeholder="Enter username to save" autocomplete="off">

                <!--- password field --->
                <input type="password" id="passwordInput" ng-model="passwordInput" name="passwordInput" required placeholder="Enter password to save" autocomplete="off">

                <!-- encryption key field -->
                <input type="password" id="keyInput" ng-model="keyInput" name="keyInput" required placeholder="Enter encryption key" ng-show="passwordInput" ng-model-option="{debounce: 1000}" autocomplete="off">

                <div id="addSiteMessage" ng-show="keyInput">
                    <h2>Please Read This!</h2>
                    <p>The one thing you MUST remember is your encryption key. It is never stored by the app and you will NOT be able retrieve your username and password for this site if you forget it.</p>
                </div>

                <!-- encrypt button -->
                <button type="submit" id="addsiteButton" name="addsiteButton" ng-disabled="!keyInput">Add Site</button>

                <!-- cancel button -->
                <button type="button" id="cancelButton" name="cancelButton" ng-click="go('/manager')">Cancel</button>
                <div id="spacer">&nbsp;</div>

            </form>
        </div>
        <div id="addSiteErrorMessage" ng-show="addSiteError">
            <h1>Oh no...!!!</h1>
            <p>Sorry! We've had a problem adding your site to the database, probably because the page has been refreshed.</p>
            <p class="message">Login and try again by clicking the button below.</p>
            <button id="back" ng-click="go('/home')">Login</button>
        </div>
    </div>
</div>






