<div id="changePassword">
    <div class="container">
        <div class="changePasswordForm" ng-show="ui">
            <h1 id="title">Change Password</h1>
            <form id="changePasswordForm" name="changePasswordForm" novalidate>

                <!-- username field -->
                <input type="text" ng-model="usernameInput" ng-model-options="{debounce: 500}" name="usernameInput" id="usernameInput" required placeholder="Enter username">

                <!-- username error messages -->
                <div class="errorMessages" ng-show="changePasswordForm.usernameInput.$touched && changePasswordForm.usernameInput.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please input a username.</p>
                </div>

                <!-- email field -->
                <input type="email" ng-model="pwEmailInput" id="pwEmailInput" ng-model-options="{debounce: 500}" name="pwEmailInput" required placeholder="Enter email address" ng-disabled="!usernameInput">

                <!-- email error messages -->
                <div class="errorMessages" ng-show="usernameInput && changePasswordForm.pwEmailInput.$touched && changePasswordForm.pwEmailInput.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please input an email address.</p>
                </div>

                <!-- password field -->
                <input type="password" ng-model="passwordInput" name="passwordInput" id="passwordInput" required placeholder="Enter new password" ng-pattern="regex" ng-model-options="{debounce: 500}" ng-disabled="!pwEmailInput">

                <!-- password error messages -->
                <div class="errorMessages" ng-show="pwEmailInput && changePasswordForm.passwordInput.$error.pattern">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Password should be at least 8 characters, contain at least one number and at least one letter.</p>
                </div>
                <div class="errorMessages" ng-show="pwEmailInput && changePasswordForm.passwordInput.$touched && changePasswordForm.passwordInput.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please input a password.</p>
                </div>

                <!-- password confirm field -->
                <input type="password" ng-model="passwordConfirm" name="passwordConfirm" id="passwordConfirm" required placeholder="Confirm password" ng-model-options="{debounce: 500}" ng-disabled="!passwordInput" ng-pattern="passwordInput" ng-show="passwordInput">

                <!-- confirm password error messages -->
                <div class="errorMessages" ng-show="passwordInput && changePasswordForm.passwordConfirm.$error.pattern">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Passwords do not match, please re-enter.</p>
                </div>
                <div class="errorMessages" ng-show="passwordInput && changePasswordForm.passwordConfirm.$touched && changePasswordForm.passwordConfirm.$error.required">
                    <img src="../img/sign-warning-icon.png" alt="warning icon">
                    <p class="errorText">Please confirm your password.</p>
                </div>

                <!-- submit button -->
                <button type="button" id="submitButton" ng-disabled="!passwordConfirm" ng-click="submit()">Submit</button>
            </form>
        </div>
        <!-- password success and error messages -->
        <div class="displayMessage" id="passwordSuccessMessage" ng-show="passwordSuccessMessage">
            <h1>Yay!!</h1>
            <p>Your password has been successfully updated. Return to the homepage to login.</p>
        </div>
        <div class="displayMessage" id="passwordErrorMessage" ng-show="passwordErrorMessage">
            <h1>Oh No!</h1>
            <p>Something went wrong updating your password. Please try again later.</p>
        </div>


        <!-- back button -->
        <button type="button" id="back" ng-click="go('/home')">Home</button>
        <div id="spacer">&nbsp;</div>
    </div>
</div>














