/* general rules */

body, html {
    /*background-color: black;*/
    color: white;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, darkslategrey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, darkslategray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, darkslategray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, darkslategray); /* Standard syntax */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Exo 2', Arial, sans-serif;
    font-weight: 300;
}

a:link, a:hover, a:visited {
    font-size:0.7em;
    color: white;
    display: block;
    margin-top: 15px;
    text-align: center;
}

h1 {
    font-family: 'Audiowide', Arial, sans-serif;
}

h2 {
    font-family: 'Armata', Helvetica, sans-serif;
}

/* general layout divs */

div.container {
    width: 60%;
    margin: 0 auto;
}

div#login, div#welcome {
    width:49%;
    margin-top: 50px;
}

div.registrationForm, div#ui, div#managerList, div.addSiteForm, div#siteList, div.changePasswordForm {
    width: 60%;
    margin: 0px auto 0 auto;
    /*border: 1px dashed white;*/
}

div#home h1#title, div.registrationForm h1#title, div#ui h1#title, div#managerList h1#title, div.addSiteForm h1#title, div#siteList h1#title, div.changePasswordForm h1#title {
    margin-top: 0px;
    padding-top: 120px;
    text-align: center;
}

div#ui h1#title {
    padding-top: 100px;
}

div#siteList h1#title, div#help h1#title {
    margin-top: 0px;
    padding-top: 70px;
}

div#siteList h1#title {
    max-width: 100%;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: normal;
    white-space: normal;
}


div.displayMessage, div#registrationMessages, div#emailSuccessMessage, div#addSiteErrorMessage {
    text-align: center;
}

div.displayMessage h1, div#registrationMessages h1, div#emailSuccessMessage h1, div#addSiteErrorMessage h1 {
    margin-top: 0px;
    padding-top: 250px;
    font-size: 4em;
}

div.displayMessage p, div#registrationMessages p, div#emailSuccessMessage p, div#addSiteErrorMessage p {
    font-size: 2em;
    margin-bottom: 0px;
}

div.displayMessage p.message, div#registrationMessages p.message, div#addSiteErrorMessage p.message {
    margin-top: 20px;
    font-size: 1em;
}

div#ui h2, div#managerList h2, div#siteList h2 {
    padding: 10px 0;
    text-align: center;

    margin: 0 auto 30px auto;
    border-radius: 5px;
    background-color: rebeccapurple;
}

div#ui h2 {
    background-color: transparent;
    border: white 3px solid;
}

div#siteList h2 {
    margin: 0 auto 0 auto;

}

div#ui h2.selected {
    background-color: orange;
    border: 3px solid white;
}

div#welcome {
    float: left;
}

div#login {
    float: right;
}

div#manager a {
    font-size: 1em;
    margin: 25px auto;
    background-color: firebrick;
    padding: 12px 12px;
    border-radius: 5px;
}

/* form elements */

div#login div#username input, div#login div#password input, div.registrationForm input, div#ui input, div.addSiteForm input, div#siteList input, div.changePasswordForm input {
    margin: 25px 0;
    width: 96%;
    padding: 10px 2% 10px 2%;
    border: 0;
    border-radius: 5px;
}

div#siteList input {
    text-align: center;
    margin: 10px 0 25px 0;
}

div#forgotten div.container div#ui form#changePasswordForm input, div.addSiteForm input, div#siteList form#decryptForm {
    margin: 20px 0px 5px 0px;
}

button {
    display: block;
    width: 100px;
    border-radius: 5px;
    border: 0;
    padding: 5px 0;
    background-color: orange;
}

button:focus {
    outline: none;

}

div.registrationForm button, div#ui button, div.container button#back, div#managerList button, div.addSiteForm button, div#siteList button, div#registrationMessages button, div.changePasswordForm button {
    margin: 30px auto 10px auto;
}

div#login button#submitButton {
    margin: 27.5% auto 0 auto;
}

div#welcome button#registerButton {
    margin: 30% auto 0 auto;
}

button#decryptButton.incorrect {
    background-color: red;
}

button[disabled=disabled] {
    background-color: lightgrey;
    color: darkgrey;
}

#addSiteMessage {
    text-align: center;
    background-color: rgba(25, 18, 18, 0.4);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

div#addSiteMessage h2 {
    padding-top: 12px;
    margin-bottom: 10px;
}

#addSiteMessage p {
    font-size: 0.8em;
    margin-top: 6px;
    padding: 5px 40px 15px 40px;
}

/*div#helpContent {*/
    /*padding: 0 50px 20px 50px;*/
    /*background-color: rgba(0,0,0,0.5);*/
/*}*/

div#helpContent ul {
    padding-left: 0px;
}

div#helpContent li.question {
    font-style: italic;
    margin: 10px 0;
    list-style: none;
    color: orange;
}

div#helpContent li.answer {
    font-size: 0.9em;
    margin: 10px 0;
    list-style: none;
}

div#helpContent a, div#welcome div.container p a {
    font-size: 1em;
    margin: 0;
    color: white;
    display: inline;
}

div#helpContent li.answer a {
    font-size: 1em;
}





/* manager list */

div#managerList ul {
    padding: 0;
}

div#managerList ul li {
    list-style: none;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.3em;
    background-color: rgba(255,255,255,0.3);
    margin-top: 10px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div#managerList ul li:hover {
    background-color: orange;
}

div#managerList p {
    text-align: center;
}

/* viewSite username and password */

div#siteList p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
}

/* error messages */

div.errorMessages {
    width: 100%;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 1em;
    background-color: rebeccapurple;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.errorMessages img {
    float: left;
    padding: 3px 5px 0 5px;
}

div.errorMessages p {
    overflow: hidden;
    padding: 8px 10px 5px 5px;
    margin: 0 0 5px 0;
    vertical-align: middle;
}

div#spacer {
    height: 50px;
    padding-bottom: 20px;
    opacity: 0;
}


@media screen and (max-width: 1024px) {
    div#login button#submitButton {
        margin: 38.5% auto 0 auto;
    }

}

@media screen and (max-width: 768px) {
    div#login button#submitButton {
        margin: 96.5% auto 0 auto;
    }

    #addSiteMessage p {
        padding: 5px 5% 15px 5%;
    }

    #addSiteMessage {
        margin-left: 0;
        margin-right: 0;
    }

}

@media screen and (max-width: 425px) {

    div#login {
        float: none;
        width: 100%;
        margin-top: 50px;
    }

    div#home h1#title, div#manager h1#title, div#addSite h1#title, div#addSiteErrorMessage h1, div#emailSuccessMessage h1, div#emailErrorMessage h1, div#passwordErrorMessage h1, div#passwordSuccessMessage h1, div#registrationMessages h1, div#errorMessage h1, div.changePasswordForm h1#title {
        padding-top: 85px;
    }

    div#ui h1#title, div.changePasswordForm h1#title {
        padding-top: 35px;
    }

    div#login h2 {
        text-align: center;
    }

    div#login button#submitButton {
        margin: 17.5% auto 0 auto;
    }

    div#welcome {
        float: none;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 65px;
    }

    div#welcome h2 {
        text-align: center;
    }

    div#welcome a {
        padding-bottom: 100px;
    }

    div#welcome div.container p {
        text-align: justify;
        font-size: 0.9em;
    }

    div#managerList, div.addSiteForm, div#siteList, div#helpContent, div#ui, div.registrationForm, div.changePasswordForm {
        width: 100%;
    }

    div#manager div.container, div#addSite div.container {
        width: 70%;
    }

    #addSiteMessage {
        margin-left: 0;
        margin-right: 0;
    }

    #addSiteMessage p {
        padding: 5px 5% 15px 5%;
    }

    div#addSiteErrorMessage p, div#emailSuccessMessage p, div#emailErrorMessage p, div#passwordSuccessMessage p, div#passwordErrorMessage p, div#registrationMessages p, div#errorMessage p {
        font-size: 1.3em;
    }

}








